#main{
    margin-left: 200px;
    text-align: justify;
}
#content {
    margin: 30px;
}
#menu {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 200px;
}

.title {
    text-align: center;
    font-size: 50px;
}

body {
    color: #777777;
    line-height: 1.6;
}
html {
    font-size: 100%;
    font-family: sans-serif;
}
block {
    display: block;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    padding: 5px;
    background: none repeat scroll 0 0 #FAFAFA;
    color: #333333;
    font-family: Consolas,'Liberation Mono',Courier,monospace;
}
.section{
    padding:20px;
    height: 1000px;
}
#menu .active {
    background-color: #F0F0F0

}
#sub-menu {
    display:none;
/* Fakiou css rulez */
    height: 20px;
    padding-left: 33px;
    padding-top: 0;
 }


#menu > ul > li.active #sub-menu {
    display: block;
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after{

}