ul{
    padding-left: 0px;
}    
.page {
    width:100%;
    min-width: 250px;
    max-height: 215px;
    border:3px solid gray;
    background-color: #DAE5E6;
    margin: 10 10 0 0;
}
/* Messages & private messages */
.flex_column {
    display: flex;
    flex-flow: column nowrap;
}
.flex_row {
    display: flex;
    flex-flow: row wrap;
}
page_infos {
    flex: 10 1 22%;
    order: 1;
    justify-content: flex-start;
}
page_infos span {
  margin-left: auto;
}
page_utils {
    flex: 1 10 75%;
    order: 2;
}
users {
    flex: 1 3 15%;
    border:3px solid gray;
}
messages{
    flex: 1 3 75%;
    border:3px solid gray;
}
#resonance_messages{
    height: 100px;
}
messages > ul {
    color: #000000;
}
messages > form {
    max-height: 30px ;
    min-height: 25px ;
    margin: 0px; 
}
messages input {
    width: 100% ;
    height: 100% ;
}
.list {
    list-style-type:none; 
    overflow: auto;
}