<link rel="stylesheet" type="text/css" href="panel.css">
<resonancepanel ng-app='panel' ng-controller='PanelController' class='flex column'>
    <div ng-show='activated'>
        <div class='option'>
            <button ng-click='openMaster()'>Open the master page</button>
        </div>
        <br>
        <div class='option' ng-click='toggleStarted()'>
            <div class='circle' ng-class='class("started")'></div>
            Resonance has started for this page
        </div>
        <br>
        Start Resonance :
        <div class='option' ng-click='toggleStartForDomain()'>
            <div class='circle' ng-class='class("startForDomain")'></div>
            For every page of this domain
        </div>
        <div class='option' ng-click='toggleStartByDefault()'>
            <div class='circle' ng-class='class("startByDefault")'></div>
             By default for every page
        </div>
    </div>
    <br>
    <div>Nickname :</div>
    <div class='option'>
        <form ng-submit='newNick()'>
            <input type='text' ng-model='nick'/>
        </form><br>
        <button ng-click='getRandomName()'>Get a random name</button>
        <div>{{message}}</div>
    </div>
    <br>
    <div class='option' ng-click='toggleActivated()'>
        <div class='circle' ng-class='class("activated")'></div>
        Resonance is activated
    </div> 
    <br>
    <div class='option'>
        Chan generated for this page :<br>
        <input type='text' ng-model='chan'/>
    </div>   
</resonancepanel>