<resonance ng-app='resonance' ng-controller='ResonanceController' class='flex column'>
    <div id='border' ng-click='resizing = !resizing'></div>
    <div id='main' class='flex row'>
        <div id='resonance_left' class='bordered'>
            <messages ng-controller='MessagesController' ng-show='display==1' class='flex column'>
                <ul class='list'>
                    <li ng-repeat='message in messages track by $index' ng-if='message.display'>
                          {{message.author}}: {{message.message}}
                    </li>
                </ul>
                <form ng-submit='submitNewMessage()'>
                    <input type='text' ng-model='newMessage'/>
                </form>
            </messages>
            <topPages ng-controller='TopPagesController' ng-show='getTopPages(display==2)' class='flex'>
                <ul class='list'>
                    <li ng-repeat='page in topPages track by $index'>
                          {{page}}
                    </li>
                </ul>
            </topPages>
            <settings ng-controller='SettingsController' ng-show='display==3' class='flex'>
                <form >
                    <input type='text' ng-model='newNick'></input>
                    <br>
                    <button ng-click='saveSettings();$parent.display=1'>save</button>
                </form>
           </settings>
           <privatemessages ng-controller='PrivateMessagesController' ng-show='display==4' class='flex column'>
                <ul class='list'>
                    <li ng-repeat='message in messages track by $index' ng-if='message.display'>
                          {{message.author}}: {{message.message}}
                    </li>
                </ul>
                <form ng-submit='submitNewMessage()'>
                    <input type='text' ng-model='newMessage'/>
                </form>
            </privatemessages>
        </div>
        <div id='resonance_right' class='flex column'>
            <controls class='bordered'>
                <button ng-click='display=(display==2)?1:2'>T</button>
                <button ng-click='display=(display==4)?1:4'>P</button>
                <button ng-click='display=(display==3)?1:3'>S</button>
            </controls>
            <users ng-controller='UsersController' ng-show='display!=4' class='bordered'>
                <ul class='list'>
                    <li ng-repeat='user in users track by $index'>
                        {{user}}
                        <button ng-click='mute(user)' ng-hide='isMute(user)'>mute</button>
                        <button ng-click='unMute(user)' ng-show='isMute(user)'>unMute</button>
                        <button ng-click='startPm(user)'>pm</button>
                    </li>
                </ul>
            </users>
            <privateusers ng-controller='PrivateUsersController' ng-show='display==4' class='bordered'>
                <ul class='list'>
                    <li ng-repeat='user in $parent.pmUsers track by $index'>
                          {{user}}
                        <button ng-click='selectPmUser(user)' ng-hide='user == $parent.currentPmUser'>select</button>
                    </li>
                </ul>
            </privateusers>
        </div>
    </div>
</resonance>