/* Main layout */
#resonance_container {
    /* See content.js for all the css of #resonance_container */
    left:0px;
}
resonance_resonance {
    height: 100% ;
    width: 100% ;
    color: black;
}
resonance_resonance * {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
resonance_resonance button {
    background-color: #464646 ;
}

/* Various properties */
    .flex_resonance {
        display: flex;
    }
    .row_resonance {
        flex-direction: row;
    }
    .column_resonance {
        flex-flow: column;
        flex-direction: column;
    }
    .list_resonance{
        overflow: auto;
        height: 100%;
    }
    .bordered_resonance{
        border:3px solid gray;
        background-color: #DAE5E6 ;
    }

/* Main elements / panels layout */
#border_resonance {
    flex: 1 6 5px;
    order: 1;
    background: gray ;
    cursor: n-resize;
}
#main_resonance {
    flex: 1 6 100%;
    order: 2;
    width: 100%;
}
#left_resonance {
    flex: 1 6 80%;
    order: 1;
}
#right_resonance {
    flex: 1 6 20%;
    order: 2;
}

/* Left panel elements */
#left_resonance > * {
    height: 100% ;
}

/* Messages & private messages */
    messages_resonance > ul {
        flex: 1 6 80%;
        order: 1;
        color: #000000;
    }
    messages_resonance > form {
        flex: 1 6 20%;
        order: 2;
        max-height: 30px ;
    }
    messages_resonance input {
        width: 100% ;
        height: 100% ;
    }
    privatemessages_resonance > ul {
        flex: 1 6 80%;
        order: 1;
    }
    privatemessages_resonance > form {
        flex: 1 6 20%;
        order: 2;
        max-height: 30px ;
    }
    privatemessages_resonance input {
        width: 100% ;
        height: 100% ;
    }
/* TopPages */
    toppages_resonance > div {
        height: 30px;
        width: 100%;
    }
    toppages_resonance > ul {
        height: 100%;
        width: 100%;
    }
    toppages_resonance form {
        flex: 1 6 80%;
        order: 0;
    }
    toppages_resonance input {
        height: 100%;
        width: 99.8%;
    }
    toppages_resonance button {
        flex: 1 6 10%;
        height: 100%;
        min-width: 30px;
    }
    toppages_resonance div {
        min-width: 30px;
    }
    toppages_resonance li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Right panel elements */
#right_resonance > * {
    height: 100%;
    width: 100%;
    display: flex ;
}
/* Controls */
    #right_resonance > controls_resonance{
        height: 30px;
    }
    controls_resonance > button {
        height: 100%;
        min-width: 30px;
        margin-right: 2px;
    }
/* Users & private users */
    #right_resonance ul{
        width: 100%;
    }
    #right_resonance li{
        border-bottom: 1px solid;
        border-bottom-color: gray;
    }

 /* Private users */
    #privateusers_resonance { /* FUCK IT ! */
        display: block;
    }
    privateusers_resonance input {
        width:75%;
    }


/* Categories */
    #categories_resonance { /* FUCK IT ! */
        display: block;
    }
    categories_resonance input {
        width:75%;
    }

/* Colors & co */

/* Private message notification */
    .selected_resonance {
        background-color: gray; 
    }
    /* Blink */
    @keyframes blink_resonance { 50% { background-color: gray; }  }
    .active_resonance{
        animation: blink_resonance .5s step-end infinite alternate; 
    }
    .notification_resonance{
        animation: blink_resonance .5s step-end 2s alternate; 
    }
/* Messages colors */
    .old_message_resonance {
        color : gray;
    }
    .authorIsMe_resonance{
        font-weight: 600;
    }
    .authorToMe_resonance{
        text-decoration : underline;
    }
