<resonance_resonance ng-app='resonance' ng-controller='ResonanceController' class='flex_resonance column_resonance'>
    <div id='border_resonance' ng-click='resizing = !resizing'></div>
    <div id='main_resonance' class='flex_resonance row_resonance'>
        <div id='left_resonance' class='bordered_resonance'>
            <messages_resonance ng-controller='MessagesController' ng-show='displayMessages(display==1)' class='flex_resonance column_resonance'>
                <ul class='list_resonance'>
                    <li ng-repeat='message in messages track by $index' ng-if='message.display' ng-class='class(message)'>
                          {{message.author}}: {{message.message}}
                    </li>
                </ul>
                <form ng-submit='submitNewMessage()'>
                    <input type='text' ng-model='newMessage' autofocus/>
                </form>
            </messages_resonance>
            <toppages_resonance ng-controller='TopPagesController' ng-show='displayTopPages(display==2)'>
                <div class='flex_resonance row_resonance'>
                    <form ng-submit='getTopPages()'>
                        <input type='text' ng-model='TP.query'/>
                    </form>
                    <button ng-click='previous()'>&lt</button>
                    <div>{{index+1}}/{{total}}</div>
                    <button ng-click='next()'>&gt</button>
                </div>
                <ul class='list_resonance'>
                    <li ng-repeat='page in topPages track by $index'>
                        <span>{{page[1]}} </span>
                        <a href={{page[0]}} target={{page[0]}}>{{page[0]}}</a>
                    </li>
                </ul>
            </toppages_resonance>
           <privatemessages_resonance ng-controller='PrivateMessagesController' ng-show='displayPrivateMessage(display==4)' class='flex_resonance column_resonance'>
                <ul class='list_resonance'>
                    <li ng-repeat='message in messages track by $index' ng-class='oldMessage(message)'>
                          {{message.author}}: {{message.message}}
                    </li>
                </ul>
                <form ng-submit='submitNewMessage()'>
                    <input type='text' ng-model='newMessage'/>
                </form>
            </privatemessages_resonance>
            <notifications_resonance ng-controller='NotificationsController' ng-show='displayNotifications(display==5)' class='flex_resonance column_resonance'>
                <ul class='list_resonance'>
                    <li ng-repeat='notification in notifications track by $index' ng-class='class(notification)'>
                          {{notification.date}}. {{notification.type}}: {{notification.message}}
                    </li>
                </ul>
            </notifications_resonance>
        </div>
        <div id='right_resonance'>
            <controls_resonance class='bordered_resonance'>
                <button ng-click='display=(display==2)?1:2'  >TopPages</button>
                <button ng-click='display=(display==4)?1:4' ng-class='private_active()'>PrivateMessages</button>
                <button ng-click='display=(display==5)?1:5' ng-class='notification_active()'>Notifications</button>
                <button ng-click='attach()' ng-class='attached()'>Attach</button>
            </controls_resonance>
            <users_resonance ng-controller='UsersController' ng-show='display==1' class='bordered_resonance'>
                <ul class='list_resonance'>
                    <li ng-repeat='user in users track by $index'>
                        <div ng-click='displayActions[user]=!displayActions[user]'>{{user}}</div>
                        <actions ng-show='displayActions[user]'>
                            <button ng-click='mute(user)' ng-hide='isMute(user)'>mute</button>
                            <button ng-click='unMute(user)' ng-hide='!isMute(user)'>unMute</button>
                            <button ng-click='startPm(user)' ng-hide='isClient(user)'>private message</button>
                        </actions>
                    </li>
                </ul>
            </users_resonance>
            <categories_resonance ng-controller='TopPagesController' ng-show='display==2' class='bordered_resonance' id='categories_resonance'>
                <form ng-submit='addCategory()'>
                    New : <input type='text' ng-model='newCategory'/>
                </form>
                <ul class='list_resonance'>
                    <li ng-repeat='category in categories track by $index'>
                        <div ng-click='selectCategory(category)'>{{category.name}}</div>
                        <actions ng-show='selectedCategory === category.name'>
                            <button ng-click='setCategoryQuery(category)'>Redefine</button>
                            <button ng-click='deleteCategory(category)'>Delete</button>
                        </actions>
                    </li>
                </ul>
            </categories_resonance>
            <privateusers_resonance ng-controller='PrivateUsersController' ng-show='display==4' class='bordered_resonance'>
                <ul class='list_resonance'>
                    <li ng-repeat='user in pmUsers track by $index'>
                        <div ng-click='selectPmUser(user)' ng-class='class(user)'>{{user}}</div>
                    </li>
                </ul>
            </privateusers_resonance>
            <announce_resonance ng-controller='NotificationsController' ng-show='display==5' class='bordered_resonance list_resonance'>
                {{announce}}
            </announce_resonance>
        </div>
    </div>
</resonance_resonance>
