resonance {
    height: 100% ;
    width: 100% ;
}
resonance * {
    border : 0px;
    padding : 0px;
    margin : 0px;
}

messages > ul {background: blue}
controls {background: red}
users {background: green}
settings {background: black}

.flex
   {
      /* flexbox setup */
      display: -webkit-flex;
      display: flex;
   }
.row
    {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
.column
    {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
    }
#resonance_left {
    -webkit-flex: 1 6 80%;
    flex: 1 6 80%;
    -webkit-order: 1;
    order: 1;
}
#resonance_left > * {
    height: 100% ;
}
#resonance_right {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 2;
    order: 2;
}
controls{
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
}
users{
    -webkit-flex: 1 6 80%;
    flex: 1 6 80%;
    -webkit-order: 2;
    order: 2;
}
messages > ul {
    -webkit-flex: 1 6 80%;
    flex: 1 6 80%;
    -webkit-order: 1;
    order: 1;
}
messages > form {
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 2;
    order: 2;
}
messages input {
    width: 100% ;
    height: 100% ;
}