messages > ul {background: blue}
controls {background: red}
users {background: green}
settings {background: yellow}
topPages {background: purple}

resonance {
    height: 100% ;
    width: 100% ;
}
resonance * {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-flow: column;
    flex-direction: column;
}
#resonance_left {
    flex: 1 6 80%;
    order: 1;
}
#resonance_right {
    flex: 1 6 20%;
    order: 2;
}
#resonance_left > * {
    height: 100% ;
}
messages > ul {
    flex: 1 6 80%;
    order: 1;
}
messages > form {
    flex: 1 6 20%;
    order: 2;
}
messages input {
    width: 100% ;
    height: 100% ;
}
controls{
    flex: 1 6 30px;
    order: 1;
}
users{
    flex: 1 6 80%;
    order: 2;
}
.list{
    overflow: auto;
}
